@import 'variables';

.hwrld-widget {
	background-color: #ffffff;
	border: 1px solid #ccc;
	max-width: $break-large;
	position: relative; 
	
	.title {
		border-bottom: 1px solid #cccccc;
		color: #666666;
		font-size: 16px;
		height: 38px;
		left: 0;
		line-height: 36px;
		position: absolute;
		text-align: center;
		text-transform: capitalize;
		top: 0;
		width: 100%;
	}

	.y-axis {
		border-right: 1px solid #ccc;
		height: 126px;
		left: 0;
		position: absolute;
		bottom: 0;
		width: 30px;
	}

	:global(.ct-line) {
		fill: none;
		stroke-dasharray: 2,2;
		stroke-width: 1px;
	}	

	:global(.ct-label) {
		color: #000000;
		font-size: 10px;

	}

	&.weather {
		:global(.ct-line) {
			stroke: #E71939;
		}

		:global(.ct-point) {
			// stroke: red;
			// stroke-linecap: round;
			// stroke-width: 10px;    	
		}

		:global(.ct-area) {
			fill: #f8d5da;
		}
	}

	&.price {
		:global(.ct-line) {
			stroke: #00B26B;
		}

		:global(.ct-point) {
			stroke: #00B26B;
			stroke-linecap: round;
			stroke-width: 4px;    	
		}

		:global(.ct-area) {
			fill: #cdf3e4;
		}
	}
	
	&.popularity {
		:global(.ct-line) {
			stroke: #00BCE4;
		}

		:global(.ct-point) {
			stroke: #00BCE4;
			stroke-linecap: round;
			stroke-width: 4px;    	
		}

		:global(.ct-area) {
			fill: #ecf5fb;
		}
	}
	
}

@media (max-width: $break-small - 1px) {
	.hwrld-widget {

	}
}